@media (min-width: @desktop-width) {
  .add-catalog-gift {
    display: flex;
    justify-content: space-between;
  }
}

.add-catalog__title {
  .p-reset();
  padding: 35px 0px;
  padding-top: 30px;
  position: relative;

  color: @title-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;

  &:before {
      position: absolute;
      top: 44px;
      left: 245px;
      width: 53px;
      height: 3px;
      content: "";

      background-color: @decoration-line-color;
  }
}

@media (min-width: @tablet-width) {
  .add-catalog__title {
    margin-left: 37px;
    padding: 65px 0px;
    padding-bottom: 80px;

    font-size: 36px;
    line-height: 36px;

    &:before {
        top: 87px;
        left: 373px;
        width: 330px;
    }

    &:after {
        position: absolute;
        top: 87px;
        right: 710px;
        width: 28px;
        height: 3px;
        content: "";

        background-color: @decoration-line-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__title {
    margin-left: 0px;
    padding: 80px 0px;
    padding-top: 75px;

    &:before {
        top: 95px;
        left: 373px;
        width: 957px;
    }

    &:after {
        top: 95px;
        right: 935px;
        width: 70px;
    }
  }
}

.add-catalog__list {
  .ul-reset();
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .add-catalog__list {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__list {
    margin-bottom: 90px;
  }
}

.add-catalog__item {
  padding: 0px 0px;
  padding-bottom: 20px;
  width: 280px;

  border-bottom: 1px solid @border-darker-color;
}

.add-catalog__item:first-child {
  border-top: 1px solid @border-darker-color;
}

@media (min-width: @tablet-width) {
  .add-catalog__item {
    padding: 22px 37px;
    padding-bottom: 27px;
    width: 632px;

    border: 1px solid @border-darker-color;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__item {
    display: flex;
    align-items: center;
    width: 895px;
    padding: 15px 0px;

    border: none;
    border-bottom: 1px solid @border-darker-color;
  }

  .add-catalog__item:first-child {
    border-top: 1px solid @border-darker-color;
  }
}

@media (min-width: @tablet-width) {
  .add-item__description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0px;
  }
}

.add-item__title {
  .p-reset();
  margin: 10px 0px;

  line-height: 20px;
  font-size: 16px;
  color: @title-color;
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .add-item__title {
    margin: 0px;

    line-height: 20px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .add-item__title {
    width: 245px;
    margin-right: 80px;
  }
}

.add-item__table {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .add-item__table {
    font-size: 16px;
    line-height: 20px;

  }
}

@media (min-width: @desktop-width) {
  .add-item__table {
    width: 285px;
    margin-right: 40px;
  }
}

.add-item__table-data {
  .p-reset();
  width: 140px;
}

.add-item__table-data:nth-of-type(2n) {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .add-item__table-data {
    width: 134px;
    text-align: right;
  }

  .add-item__table-data:nth-of-type(2n) {
    width: 90px;
  }
}

@media (min-width: @desktop-width) {
  .add-item__table-data {
    width: 143px;
    text-align: left;
  }

  .add-item__table-data:nth-of-type(2n) {
    width: 145px;
  }
}

.add-catolog__btn {
  display: inline-block;
  margin-top: 10px;
  width: 280px;

  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .add-catolog__btn {
  width: 632px;
  margin-top: 25px;
  padding: 10px 0px;
  }
}

@media (min-width: @desktop-width) {
  .add-catolog__btn {
  width: 245px;
  margin: 0px;
  padding: 10px 0px;
  }
}
