@media (min-width: @desktop-width) {
  .add-catalog-gift {
    display: flex;
    justify-content: space-between;
  }
}

.add-catalog__title {
  .p-reset();
  padding: 35px 0;
  padding-top: 28px;
  position: relative;

  color: @title-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;

  &::before {
    position: absolute;
    top: 44px;
    left: 245px;
    width: 53px;
    height: 3px;
    content: "";

    background-color: @decoration-line-color;
  }
}

@media (min-width: @tablet-width) {
  .add-catalog__title {
    margin-left: 37px;
    padding: 65px 0;
    padding-bottom: 80px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 87px;
      left: 373px;
      width: 330px;
    }

    &::after {
      position: absolute;
      top: 87px;
      right: 710px;
      width: 28px;
      height: 3px;
      content: "";

      background-color: @decoration-line-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__title {
    margin-left: 0;
    padding: 80px 0;
    padding-top: 75px;

    &::before {
      top: 97px;
      left: 373px;
      width: 957px;
    }

    &::after {
      top: 97px;
      right: 935px;
      width: 70px;
    }
  }
}

.add-catalog__list {
  .ul-reset();
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .add-catalog__list {
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__list {
    margin-bottom: 87px;
  }
}

.add-catalog__item {
  padding: 0;
  padding-bottom: 18px;
  width: 280px;

  border-bottom: 1px solid @border-darker-color;
}

.add-catalog__item:first-child {
  border-top: 1px solid @border-darker-color;
}

@media (min-width: @tablet-width) {
  .add-catalog__item {
    padding: 21px 37px;
    padding-bottom: 27px;
    width: 632px;

    border: 1px solid @border-darker-color;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__item {
    display: flex;
    align-items: center;
    width: 895px;
    padding: 15px 0;
    padding-bottom: 16px;

    border: none;
    border-bottom: 1px solid @border-darker-color;
  }

  .add-catalog__item:first-child {
    border-top: 1px solid @border-darker-color;
  }
}

.add-catalog__item-link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .add-catalog__item-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0;
  }
}

.add-catalog__item-title {
  .p-reset();
  margin: 10px 0;

  line-height: 20px;
  font-size: 16px;
  color: @title-color;
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .add-catalog__item-title {
    margin: 5px 0;

    line-height: 20px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__item-title {
    margin: 5px 0;
    width: 245px;
    margin-right: 78px;
  }
}

.add-catalog__item-table {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  width: 287px;
  margin-left: -4px;
}

@media (min-width: @tablet-width) {
  .add-catalog__item-table {
    font-size: 16px;
    line-height: 20px;
    margin-right: -4px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__item-table {
    width: 292px;
    margin-right: 35px;
  }
}

.add-catalog__item-table-data {
  .p-reset();
  width: 140px;
}

.add-catalog__item-table-data:nth-of-type(2n) {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .add-catalog__item-table-data {
    width: 134px;
    text-align: right;
  }

  .add-catalog__item-table-data:nth-of-type(2n) {
    width: 67px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__item-table-data {
    width: 245px;
    text-align: left;
  }

  .add-catalog__item-table-data:nth-of-type(2n) {
    width: 44px;
    text-align: left;
  }
}

.add-catalog__btn {
  display: inline-block;
  margin-top: 12px;
  width: 280px;

  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .add-catalog__btn {
    width: 632px;
    margin-top: 20px;
    padding: 10px 0;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog__btn {
    width: 245px;
    margin: 0;
    padding: 10px 0;
  }
}
