.btn {
  width: 100%;
  padding: 11px 0px;

  border: none;
  background-color: @btn-color;

  font-size: 16px;
  line-height: 20px;
  color: @btn-text-color;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &:active {
    background-color: @btn-color-active;
    color: @btn-text-color-active;
  }
}
