.catalog__title {
  .p-reset();
  width: 280px;
  margin: 0 auto;
  padding: 30px 20px;
  padding-top: 15px;

  color: @title-color;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;

  border-bottom: 1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    width: 706px;
    padding: 30px 30px;
    padding-bottom: 25px;

    font-size: 60px;
    line-height: 60px;

    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog__title {
    width: 1220px;
    padding: 70px 110px;
    padding-bottom: 25px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__container {
    width: 706px;
    padding: 0px 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .catalog__container {
    width: 1220px;
    padding: 0px 110px;
  }
}

.catalog__item {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 24px;

  border-bottom: 1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .catalog__item {
    position: relative;
    width: 249px;
    padding: 45px 38px;
    padding-top: 165px;
    padding-bottom: 40px;

    margin:  0px;
    margin-top: 140px;
    margin-right: -3px;

    border-bottom: none;
    background-color: @contrast-btn-color;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 169px;
    margin-right: 0px;
  }
}

.catalog__item-image-description {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .catalog__item-image-description {
    justify-content: flex-start;
    flex-direction: column;
  }
}


@media (min-width: @tablet-width) {
  .catalog__item-image{
    position: absolute;
    bottom: 305px;
    right: 0px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item-image {
    position: absolute;
    bottom: 305px;
    right: 3px;
  }
}

.catalog__item-description {
  padding-top: 20px;
}

@media (min-width: @tablet-width) {
  .catalog__item-description {
    padding: 0px;
    padding-top: 0px;
  }
}

.item__link {
  text-decoration: none;
}

.item__title {
  .p-reset();
  width: 75px;
  margin-bottom: 10px;

  line-height: 20px;
  font-size: 16px;
  color: @title-color;
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .item__title {
    width: 130px;
    margin: 0px 60px;
    margin-bottom: 15px;

    font-size: 20px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .item__title {
    margin: 0px 20px;
    margin-bottom: 17px;
  }
}

.item__table {
  font-family: 'Arial';
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .item__table {
    font-size: 16px;

    border-collapse: collapse;
  }
}

.item__table-data {
  .p-reset();
  width: 70px;
}

.item__table-data:nth-of-type(2n) {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .item__table-data {
    width: 125px;
    padding: 8px 0px;

    border-bottom: 1px solid @border-darker-color;
  }
}

@media (min-width: @desktop-width) {
  .item__table-data {
    width: 85px;
    padding: 8px 0px;
  }
}

.catolog__btn {
  display: inline-block;
  width: 280px;
  margin-top: 0px;
  text-decoration: none;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .catolog__btn {
    display: inline-block;
    width: 250px;
    margin-top: 33px;
    padding: 10px 0px;
  }
}

@media (min-width: @desktop-width) {
  .catolog__btn {
    width: 170px;
    padding: 10px 0px;
  }
}

.main-catalog__show-more {
  width: 280px;
  margin: 0 auto;
  padding: 23px 20px;
  padding-top: 80px;
  position: relative;

  border-bottom: 1px solid @border-color;

  &:before {
      position: absolute;
      top: 25px;
      left: 145px;
      width: 32px;
      height: 32px;
      content: "";

      background: url(../img/icon-plus-mobile.svg) no-repeat 0 0;
  }
}

@media (min-width: @tablet-width) {
  .main-catalog__show-more {
    width: 250px;
    margin: 0px;
    margin-top: 140px;
    margin-right: -5px;
    padding: 40px 38px;
    padding-top: 165px;

    border: 1px solid @border-color;

    &:before {
        position: absolute;
        top: 54px;
        left: 132px;
        width: 60px;
        height: 60px;
        content: "";

        background: url(../img/icon-plus.svg) no-repeat 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__show-more {
    width: 170px;
    margin: 0px;
    margin-top: 140px;

    &:before {
        left: 93px;
    }
  }
}

.show-more__title {
  .p-reset();
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @title-color;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .show-more__title {
    width: 140px;
    margin: 0px 55px;
    margin-bottom: 25px;

    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .show-more__title {
    margin: 0px 20px;
    margin-bottom: 25px;
  }
}

.show-more__info {
  .p-reset();

  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .show-more__info {
    width: 170px;
    margin: 0px 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .show-more__info {
    width: 170px;
    margin: 0px 0px;
  }
}

.show-more__btn {
  display: inline-block;
  width: 280px;
  margin-top: 20px;

  font-size: 16px;
  line-height: 20px;
  color: @text-color;

  background-color: @contrast-btn-color;

  &:hover {
    background-color: @contrast-darker-btn-color;
  }

  &:active {
    background-color: @contrast-darker-btn-color;
    color: @text-color-active;
  }
}

@media (min-width: @tablet-width) {
  .show-more__btn {
    width: 250px;
    margin-top: 80px;
    padding: 10px 0px;

  }
}

@media (min-width: @desktop-width) {
  .show-more__btn {
    width: 170px;
  }
}
