.gift-banner {
  width: 280px;
  height: 290px;
  position: relative;
  margin-bottom: 30px;

  background-color: #64a83c;
  background: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/gift-photo-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 280px auto;
  }

  &::before {
    position: absolute;
    top: 65px;
    right: 112px;
    width: 55px;
    height: 60px;
    content: "";

    background: url("../img/icon-gift.svg") no-repeat 0 0;
  }
}

@media (min-width: @tablet-width) {
  .gift-banner {
    height: 200px;
    width: 706px;
    margin-bottom: 75px;

    background-color: #64a83c;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/gift-photo-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 708px auto;
    }

    &::before {
      position: absolute;
      top: 65px;
      left: 90px;
      width: 55px;
      height: 60px;
      content: "";

      background: url("../img/icon-gift.svg") no-repeat 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .gift-banner {
    align-self: flex-end;
    width: 245px;
    height: 290px;
    margin-bottom: 85px;

    background-color: #64a83c;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/gift-photo-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 245px auto;
    }

    &::before {
      top: 65px;
      left: 97px;
    }
  }
}

.gift-banner__discripton {
  position: absolute;
  bottom: 45px;
  left: 0;
  margin: 0 55px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @contrast-text-color;
}

.gift-banner-info {
  padding-left: 5px;
}

@media (min-width: @tablet-width) {
  .gift-banner__discripton {
    bottom: 70px;
    left: 423px;
    margin: 0;
    width: 165px;

    text-align: left;
  }

  .gift-banner-info {
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .gift-banner__discripton {
    bottom: 44px;
    left: 40px;
    margin: 0;

    text-align: center;
  }

  .gift-banner-info {
    padding-left: 5px;
  }
}
