.gift-banner {
  width: 280px;
  height: 290px;
  position: relative;
  margin-bottom: 35px;

  background-color: #64a83c;
  background: url(../img/gift-photo-mobile@1x.jpg) no-repeat top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url(../img/gift-photo-mobile@2x.jpg) no-repeat right top;
    background-size: 280px auto;
  }

  &:before {
      position: absolute;
      top: 68px;
      right: 115px;
      width: 55px;
      height: 60px;
      content: "";

      background: url(../img/icon-gift.svg) no-repeat 0 0;
  }
}

@media (min-width: @tablet-width) {
  .gift-banner {
    height: 200px;
    width: 706px;
    margin-bottom: 75px;

    background-image: url(../img/gift-photo-tablet@1x.jpg);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url(../img/gift-photo-tablet@2x.jpg) no-repeat right top;
      background-size: 708px auto;
    }

    &:before {
        position: absolute;
        top: 65px;
        left: 90px;
        width: 55px;
        height: 60px;
        content: "";

        background: url(../img/icon-gift.svg) no-repeat 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .gift-banner {
    align-self: flex-end;
    width: 245px;
    height: 290px;
    margin-bottom: 80px;


    background-image: url(../img/gift-photo-desktop@1x.jpg);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url(../img/gift-photo-desktop@2x.jpg) no-repeat right top;
      background-size: 245px auto;
    }

    &:before {
        top: 65px;
        left: 97px;
    }
  }
}

.gift-banner__discripton {
  position: absolute;
  bottom: 45px;
  left: 10px;
  margin: 0px 60px;

  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @contrast-text-color;
}

@media (min-width: @tablet-width) {
  .gift-banner__discripton {
    bottom: 70px;
    left: 423px;
    margin: 0px;
    width: 165px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift-banner__discripton {
    bottom: 44px;
    left: 47px;
    margin: 0px;

    text-align: center;
  }
}
