.instructions {
  padding-bottom: 20px;
}

.instructions__title {
  .p-reset();
  margin-bottom: 30px;

  color: @title-color;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.instructions__list {
  .ul-reset();
}

.instructions__item {
  .p-reset();
  padding-left: 80px;
  margin-bottom: 20px;

  font-family: 'Arial';
}
