.progams__list {
  .ul-reset();
}

@media (min-width: @desktop-width) {
  .progams__list {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  margin-bottom: 15px;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 35px;

  background-color: @blocks-background-color;

  &:before {
      position: absolute;
      top: 28px;
      left: 22px;
      width: 50px;
      height: 50px;
      content: "";
      border-radius: 50%;

      background-color: @icon-background-color;
  }
}

@media (min-width: @tablet-width) {
  .programs__item {
    position: relative;
    margin-bottom: 30px;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 45px;

    &:before {
        position: absolute;
        top: 90px;
        left: 445px;
        width: 200px;
        height: 200px;
        content: "";
        border-radius: 50%;

        background-color: @icon-background-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs__item {
    position: relative;
    margin-bottom: 65px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 55px;

    &:before {
        position: absolute;
        top: 50px;
        left: 52px;
        width: 100px;
        height: 100px;
        content: "";
        border-radius: 50%;

        background-color: @icon-background-color;
    }
  }
}

.programs__item-title {
  .p-reset();
  margin-bottom: 32px;
  padding-left: 70px;

  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase;
  color: @title-color;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .programs__item-title {
    width: 375px;
    padding-left: 0px;
    margin-bottom: 25px;

    font-size: 36px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item-title {
    width: 300px;
    padding-left: 165px;
    margin-bottom: 72px;
  }
}

.programs__item--slim {
  position: relative;


  &:after {
      position: absolute;
      top: 24px;
      left: 30px;
      width: 45px;
      height: 50px;
      content: "";

      background: url(../img/icon-cat-slim.svg) no-repeat 0 0;
  }
}

@media (min-width: @tablet-width) {
  .programs__item--slim {
    position: relative;


    &:after {
        position: absolute;
        top: 80px;
        left: 478px;
        width: 163px;
        height: 192px;
        content: "";

        background: url(../img/icon-cat-slim.svg) no-repeat 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs__item--slim {
    position: relative;



    &:after {
        position: absolute;
        top: 41px;
        left: 66px;
        width: 73px;
        height: 97px;
        content: "";

        background: url(../img/icon-cat-slim.svg) no-repeat 0 0;
    }
  }
}


.programs__item--pro {
  position: relative;
  margin-bottom: 20px;


  &:after {
      position: absolute;
      top: 38px;
      left: 13px;
      width: 70px;
      height: 30px;
      content: "";

      background: url(../img/icon-cat-pro.svg) no-repeat 0 0;
  }
}

@media (min-width: @tablet-width) {
  .programs__item--pro {
    position: relative;
    margin-bottom: 45px;


    &:after {
        position: absolute;
        top: 132px;
        left: 413px;
        width: 270px;
        height: 112px;
        content: "";

        background: url(../img/icon-cat-pro.svg) no-repeat 0 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs__item--pro {
    position: relative;
    margin-bottom: 65px;


    &:after {
        position: absolute;
        top: 70px;
        left: 34px;
        width: 135px;
        height: 56px;
        content: "";

        background: url(../img/icon-cat-pro.svg) no-repeat 0 0;
    }
  }
}

.programs__item-info {
  .p-reset();
  padding-bottom: 20px;

  font-family: 'Arial';

  border-bottom:1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .programs__item-info {
    width: 375px;
    padding-bottom: 35px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__item-info--pro {
    width: 340px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item-info {
    width: 465px;
    padding-bottom: 15px;

  }

  .programs__item-info--pro {
    width: 465px;
  }
}

.programs__item-link {
  display: inline-block;
  padding: 20px 0px;
  position: relative;

  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @link-color;

  &:hover {
    color: @link-color;

    .programs__item-link-icon {
      left: 100px;
      width: 32px;
    }
  }

  &:active {
    color: @text-color-active;

  .programs__item-link-icon {
      left: 100px;
      width: 32px;
      opacity: 0.3;
  }
 }
}

@media (min-width: @tablet-width) {
  .programs__item-link {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__item-link-icon {
  position: absolute;
  top: 23px;
  left: 100px;
  width: 25px;
  height: 10px;
  color: #3F4242;
}

@media (min-width: @tablet-width) {
  .programs__item-link-icon {
    left: 125px;
  }
}
