.promo {
  margin-bottom: 22px;

  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/index-background-mobile@2x.jpg);
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    height: 840px;
    margin: 0px;

    background-image: url(../img/index-can-tablet@1x.jpg);
    background-position: 50% 100%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/index-can-tablet@2x.jpg);
      background-size: 709px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin: 0px auto;
    width: 1440px;
    height: 700px;
    margin-bottom: 75px;
    margin-top: -116px;

    background: linear-gradient(to right, #ffffff 52.7%, #64a83c 47.3%);
    background: url(../img/index-background-desktop@1x.jpg) no-repeat right top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url(../img/index-background-desktop@2x.jpg) no-repeat right top;
      background-size: 720px auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .promo-wrapper {
    width: 619px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    margin-left: 88px;
  }
}

@media (min-width: @desktop-width) {
  .promo-wrapper {
    width: 895px;
    margin-left: 80px;
  }
}

.promo__title {
  .p-reset();
  padding-top: 25px;
  margin-bottom: 25px;

  color: #ffffff;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .promo__title {
    width: 415px;
    padding-top: 30px;
    margin-bottom: 40px;

    color: @title-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .promo__title {
    padding-top: 110px;
    margin-top: 110px;
    margin-bottom: 42px;
  }
}

.promo__slogan {
  .p-reset();
  margin-bottom: 28px;

  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 14px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .promo__slogan {
    width: 290px;
    margin-bottom: 50px;

    color: inherit;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .promo__slogan {
    margin-bottom: 52px;
  }
}

@media (min-width: @tablet-width) {
  .promo__picture {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .promo__picture {
    display: block;
    order: 4;
    margin-left: -45px;
  }

  .promo__img {
    display: inline-block;
    width: auto;
    margin-top: 140px;
  }
}

.promo__btn {
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .promo__btn {
    width: 245px;
    padding: 15px 0px;
    margin-top: 0px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }
}
