.select__title {
  .p-reset();
  margin: 15px 0;
  margin-bottom: 23px;

  color: @title-color;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .select__title {
    margin: 30px 0;
    margin-bottom: 55px;

    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .select__title {
    margin: 72px 0;
    margin-bottom: 54px;
  }
}

.select__info {
  .p-reset();
  margin-bottom: 40px;
  margin-right: 50px;

  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .select__info {
    width: 325px;
    margin-right: 0;
    margin-bottom: 65px;
    margin-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .select__info {
    margin-bottom: 64px;
    margin-left: 0;
  }
}

@media (min-width: @tablet-width) {
  .select__form {
    padding: 0 40px;
    padding-bottom: 75px;
  }
}

@media (min-width: @desktop-width) {
  .select__form {
    padding: 0;
    padding-bottom: 85px;
  }
}

@media (min-width: @desktop-width) {
  .field__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.field {
  .p-reset();
  border: none;
}

.field--cat {
  border-bottom: 1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .field--cat {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .field--cat {
    width: 570px;
  }
}

.field__item {
  .p-reset();
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:active {
    .field-img {
      color: #68b738;
    }
  }

  &:focus {
    .field-img {
      color: #68b738;
    }
  }

  &:default {
    .field-img {
      color: #ff8282;
    }
  }
}

.fiels__item--cat:last-child {
  margin-bottom: 22px;
}

.fiels__item--cat:last-child .field-label {
  width: 94px;
}

@media (min-width: @tablet-width) {
  .field__item {
    .p-reset();
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .fiels__item--cat:last-child {
    margin-bottom: 71px;
  }

  .fiels__item--cat:last-child .field-label {
    width: 125px;
  }
}

@media (min-width: @desktop-width) {
  .fiels__item--cat:last-child {
    margin-bottom: 0;
  }

  .fiels__item--cat:last-child .field-label {
    width: 125px;
  }
}

.field-label {
  margin-right: 1px;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .field-label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 17px;
  }

  .field-label--cat-age {
    margin-right: 8px;
  }
}

@media (min-width: @desktop-width) {
  .field-label {
    margin-right: 17px;
  }

  .field-label--cat-age {
    margin-right: 8px;
  }
}

.fiels__text {
  margin-left: 13px;
  padding: 13px 14px;
  flex-grow: 2;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;

  border: 1px solid @border-color;

  &:active {
    border: none;
    outline: 2px solid @border-color-active;
  }

  &:focus {
    border: none;
    outline: 2px solid @border-color-active;
  }

  &:default {
    border: 2px solid @border-color-default;
  }
}


@media (min-width: @tablet-width) {
  .fiels__text {
    margin-left: 0;
    padding: 14px 20px;
    margin-right: -5px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .fiels__text {
    margin-left: 0;
    margin-right: 0;
  }
}

.fiels__text::placeholder {
  color: @placeholder-text-color;
}

.field--type {
  padding: 26px 0;
  padding-bottom: 5px;

  border-bottom: 1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .field--type {
    width: 576px;
    padding: 33px 28px;
    padding-left: 26px;
    padding-bottom: 0;
    margin-bottom: 12px;

    border: 1px solid @border-color;
  }
}

@media (min-width: @desktop-width) {
  .field--type {
    width: 516px;
    padding: 35px 27px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.field__list {
  .ul-reset();
}

.field-label--type {
  .p-reset();
  margin-bottom: 24px;
  padding-left: 45px;
  display: inline-block;
  position: relative;

  font-size: 16px;
}

@media (min-width: @tablet-width) {
  .field-label--type {
    margin-bottom: 33px;
    padding-left: 60px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .field-label--type {
    margin-bottom: 33px;
  }
}

.field-label--type::before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  content: "";

  border: 1px solid @border-color;
  border-radius: 50%;
}

.field-label--type:hover::before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  content: "";

  border: 1px solid @border-darker-color;
  border-radius: 50%;
}

.field-label--type:disabled::before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  content: "";

  border: 1px solid @border-color;
  border-radius: 50%;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field-label--type::before {
    top: -9px;
    left: 0px;
    width: 38px;
    height: 38px;
  }

  .field-label--type:hover::before {
    top: -9px;
    left: 0;
    width: 38px;
    height: 38px;
  }

  .field-label--type:disabled::before {
    top: -9px;
    left: 0;
    width: 38px;
    height: 38px;
  }
}

.field-radio:checked ~ .field-label--type::after {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 12px;
  height: 12px;
  content: "";

  background-color: @btn-checked-color;
  border-radius: 50%;
}

.field-radio:checked ~ .field-label--type:hover::after {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 12px;
  height: 12px;
  content: "";

  background-color: @btn-checked-color;
  border-radius: 50%;
}

.field-radio:checked ~ .field-label--type:disabled::after {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 12px;
  height: 12px;
  content: "";

  background-color: @btn-checked-color;
  border-radius: 50%;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field-radio:checked ~ .field-label--type::after {
    top: 3px;
    left: 12px;
    width: 17px;
    height: 17px;
  }

  .field-radio:checked ~ .field-label--type:hover::after {
    top: 3px;
    left: 12px;
    width: 17px;
    height: 17px;
  }

  .field-radio:checked ~ .field-label--type:disabled::after {
    top: 3px;
    left: 12px;
    width: 17px;
    height: 17px;
  }
}

.field__legend {
  .p-reset();
  padding: 25px 0;
  position: relative;

  color: @title-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .field__legend {
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }
}

.field__legend--contacts {
  padding: 28px 0;
  padding-bottom: 32px;

  &::before {
    position: absolute;
    top: 42px;
    right: -20px;
    width: 100px;
    height: 3px;
    content: "";

    background-color: @decoration-line-color;
  }
}

.field-label--contacts {
  margin-right: -3px;
}

@media (min-width: @tablet-width) {
  .field__legend--contacts {
    padding: 75px 0;
    padding-top: 65px;

    &::before {
      top: 87px;
      left: 555px;
      width: 145px;
    }

    &::after {
      position: absolute;
      top: 87px;
      right: 550px;
      width: 30px;
      height: 3px;
      content: "";

      background-color: @decoration-line-color;
    }
  }

  .field-label--contacts {
    margin-right: 19px;
  }

  .field__item--contacts-tel .field-label--contacts {
    margin-right: 13px;
  }
}

@media (min-width: @desktop-width) {
  .field__legend--contacts {
    padding-top: 68px;
    padding-bottom: 76px;

    &::before {
      top: 90px;
      left: 550px;
      width: 780px;
    }

    &::after {
      top: 90px;
      right: 555px;
      width: 70px;
    }
  }

  .field__item--contacts-tel .field-label--contacts {
    margin-right: 13px;
  }

  .field-label--contacts {
    margin-right: 19px;
  }
}

.field__item--contacts-email {
  position: relative;
}


@media (min-width: @desktop-width) {
  .field__item--contacts-email {
    width: 570px;
  }
}

.mail-img {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 13px;
}

@media (min-width: @tablet-width) {
  .mail-img {
    width: 19px;
    height: 14px;
    top: 20px;
    right: 14px;
  }
}

@media (min-width: @desktop-width) {
  .mail-img {
    width: 19px;
    height: 14px;
    top: 19px;
    right: 19px;
  }
}

.field__item--contacts-tel {
  position: relative;
}

@media (min-width: @desktop-width) {
  .field__item--contacts-tel {
    width: 570px;
  }
}

.tel-img {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 20px;
  height: 20px;
}

@media (min-width: @tablet-width) {
  .tel-img {
    top: 18px;
    right: 12px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .tel-img {
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
  }
}

.field__legend--comment {
  padding-top: 17px;
  padding-bottom: 33px;

  &::before {
    position: absolute;
    top: 30px;
    right: -180px;
    width: 160px;
    height: 3px;
    content: "";

    background-color: @decoration-line-color;
  }
}

@media (min-width: @tablet-width) {
  .field__legend--comment {
    padding-top: 45px;
    padding-bottom: 75px;

    &::before {
      top: 67px;
      left: 220px;
      width: 480px;
    }

    &::after {
      position: absolute;
      top: 67px;
      right: 220px;
      width: 30px;
      height: 3px;
      content: "";

      background-color: @decoration-line-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .field__legend--comment {
    padding-top: 45px;
    padding-bottom: 76px;

    &::before {
      top: 70px;
      left: 220px;
      width: 1111px;
    }

    &::after {
      top: 70px;
      right: 220px;
      width: 70px;
    }
  }
}

.field__comment {
  padding: 12px 15px;
  width: 251px;
  height: 125px;
  font-size: 16px;

  text-transform: uppercase;
  font-weight: 500;

  border: 1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .field__comment {
    padding: 10px 18px;
    width: 590px;
    height: 152px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .field__comment {
    padding: 12px 19px;
    width: 1182px;
    height: 150px;
  }
}

.field__comment::placeholder {
  color: @placeholder-text-color;
}

.field__legend--add {
  padding-top: 15px;
  padding-bottom: 40px;

  &::before {
    position: absolute;
    top: 28px;
    right: -160px;
    width: 137px;
    height: 3px;
    content: "";

    background-color: @decoration-line-color;
  }
}

@media (min-width: @tablet-width) {
  .field__legend--add {
    padding: 45px 0;
    padding-bottom: 66px;

    &::before {
      top: 68px;
      left: 253px;
      width: 445px;
    }

    &::after {
      position: absolute;
      top: 68px;
      right: 250px;
      width: 30px;
      height: 3px;
      content: "";

      background-color: @decoration-line-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .field__legend--add {
    padding-top: 45px;
    padding-bottom: 68px;

    &::before {
      top: 70px;
      left: 253px;
      width: 1080px;
    }

    &::after {
      top: 70px;
      right: 253px;
      width: 70px;
    }
  }
}

@media (min-width: @tablet-width) {
  .field__list--add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .field__list--add {
    align-items: center;
  }
}

@media (min-width: @tablet-width) {
  .field__option--add {
    width: 283px;
  }
}

@media (min-width: @desktop-width) {
  .field__option--add {
    width: 245px;
  }
}

.field-label--add {
  .p-reset();
  margin-bottom: 24px;
  padding-left: 45px;
  display: inline-block;
  position: relative;
}

@media (min-width: @tablet-width) {
  .field-label--add {
    margin-bottom: 52px;
    padding-left: 60px;
  }
}

@media (min-width: @desktop-width) {
  .field-label--add {
    margin-bottom: 52px;
    padding-left: 58px;
  }
}

.field-label--add::before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  content: "";

  border: 1px solid @border-color;
}

.field-label--add:hover::before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  content: "";

  border: 1px solid @border-darker-color;
}

.field-label--add:disabled::before {
  position: absolute;
  top: -5px;
  left: 0;
  width: 28px;
  height: 28px;
  content: "";

  border: 1px solid @border-color;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field-label--add::before {
    top: -8px;
    width: 37px;
    height: 37px;
  }

  .field-label--add:hover::before {
    top: -8px;
    width: 37px;
    height: 37px;
  }

  .field-label--add:disabled::before {
    top: -8px;
    width: 37px;
    height: 37px;
  }
}

.field-check:checked ~ .field-label--add::after {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 21px;
  height: 15px;
  content: "";

  background: url("../img/icon-tick.svg") no-repeat 0 0;
}

.field-check:checked ~ .field-label--add:hover::after {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 21px;
  height: 15px;
  content: "";

  background: url("../img/icon-tick.svg") no-repeat 0 0;
}

.field-check:checked ~ .field-label--add:disabled::after {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 21px;
  height: 15px;
  content: "";

  background: url("../img/icon-tick.svg") no-repeat 0 0;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .field-check:checked ~ .field-label--add::after {
    left: 8px;
    width: 22px;
    height: 16px;
  }

  .field-check:checked ~ .field-label--add:hover::after {
    left: 8px;
    width: 22px;
    height: 16px;
  }

  .field-check:checked ~ .field-label--add:disabled::after {
    left: 8px;
    width: 22px;
    height: 16px;
  }
}

.button-block {
  margin: 29px 0;
  margin-top: 17px;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .button-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0;
    margin-top: 13px;
  }
}

@media (min-width: @desktop-width) {
  .button-block {
    margin-top: 20px;
  }
}

.form__btn {
  margin-bottom: 20px;
  width: 280px;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .form__btn {
    margin-bottom: 0;

    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .form__btn {
    width: 570px;
  }
}

.form__note {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .form__note {
    width: 280px;

    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .form__note {
    width: 570px;
  }
}
