.select__title {
  .p-reset();
  width: 280px;
  margin: 20px auto;
  padding: 0 20px;

  color: @title-color;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
}

.select__info {
  .p-reset();
  width: 280px;
  margin: 0px auto;
  padding: 0 20px;
  margin-bottom: 35px;

  text-transform: uppercase;
}

.field {
  border: none;
}

.field__item {
  .p-reset();
}

.field-label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.fiels__text {
  margin-left: 10px;
  padding: 9px 15px;

  text-transform: uppercase;

  border:1px solid @border-color;
}

.field--cat {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  border-bottom: 1px solid @border-color;
}

.field__list {
  .ul-reset();
}

.field--type {
  width: 280px;
  margin: 0 auto;
  padding: 25px 20px;

  border-bottom: 1px solid @border-color;
}

.field-label--type {
  padding-left: 45px;
}

.field-legend {
  .p-reset();
  padding: 25px 0px;

  color: @title-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}

.field--contacts {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.field--comment {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.field__comment {
  padding: 10px 15px;

  text-transform: uppercase;

  border: 1px solid @border-color;
}

.field--add {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.field-label--add {
  padding-left: 45px;
}

.button-block {
  width: 280px;
  margin: 30px auto;
  padding: 0 20px;

  text-align: center;
}

.form__btn {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;
}

.form__note {
  font-family: "Arial";
  line-height: 16px;
}
