@tablet-width: 708px;
@desktop-width: 1220px;
@text-color: #222222;
@contrast-text-color: #ffffff;
@title-color: #000000;
@background-color: #ffffff;
@btn-color: #68b738;
@contrast-btn-color: #f2f2f2;
@btn-color-active: #5eaa2f;
@btn-text-color: #ffffff;
@btn-text-color-active: rgba(255, 255, 255, 0.3);
@blocks-background-color: #f2f2f2;
@link-color: #111111;
@border-color: #e6e6e6;
@border-darker-color: #cdcdcd;
@icon-background-color: #68b738;
@decoration-line-color: #68b738;
@contrast-line-color: #ffffff;
@placeholder-text-color: #444444;
@btn-checked-color: #68b738;
